# infrastructure
src/infrastructure/.terraform
src/infrastructure/.terraform.lock.hcl

# api
src/docker/api/app/__pycache__

# file manager
src/docker/file-manager/app/node_modules
src/docker/file-manager/app/.env

# commands
src/docker/restart-containerapp.bat