<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    {{#if forms_css}}
        <link rel="stylesheet" href="/styles/forms.css" type="text/css">
    {{/if }}
    {{#if tables_css}}
        <link rel="stylesheet" href="/styles/tables.css" type="text/css">
    {{/if}}
</head>

<body>
    {{{body}}}
</body>

</html>