:root {
    --c-light-blue: #009dff;
    --c-black: #000000;
    --c-white: #ffffff;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: var(--c-light-blue);
    font-size: 50px;
}

.login-div {
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: var(--c-light-blue);
    border-color: var(--c-black);
    border-radius: 25px;
}

form {
    padding: 10px;
    background-color: var(--c-white);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

form input[type=email], .login-form input[type=password] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    margin: 10px;
    padding: 12px 20px;
    width: 25%;
    background-color: var(--c-light-blue);
    left: 50%;
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 16px;
    border-bottom: 1px solid;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}