.login-div {
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #009dff;
    border-color: black;
    border-radius: 25px;
}

.login-form {
    padding: 10px;
    background-color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.login-form input[type=email], .login-form input[type=password] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.login-form .btn {
    margin: 10px;
    padding: 12px 20px;
    width: 25%;
    background-color: #009dff;
    left: 50%;
    display: flex;
    justify-content: center;
}