<body>
    <main>
        <div>
            <form action="/files/modify-file" method="PUT">
            <h1>Modificar descripción del archivo</h1>

            <label for="description_txt"></label>
            <input type="text" id="description_txt" name="description">

            <button type="submit">Modificar archivo</button>
            </form>
        </div>
        
    </main>            
</body>